.category-name-wrapper{
    margin: 0%;
    margin-bottom: 2%;
    align-self: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: rgb(21, 20, 20);
}